:root {
    --primary-color: rgb(14, 0, 139);
    --secondary-color: darkblue;
    --light-background: #eee;
    --box-background: #ddd;
    --text-color: #333;
    --box-text-color: #05013b;
    --white-color: white;
    --border-dark: 1px solid black;
    --border-light: 1px solid rgb(0 0 0 / 0.2);
    --box-border: 1px solid rgb(0 0 0 / 10%);
    --padding-small: 10px;
    --padding-medium: 1rem;
    --image-width: 170px;
    --aside-width: 20em;
    --shadow-color: gray;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: var(--primary-color);
    padding: var(--padding-small);
}

nav a {
    color: var(--white-color);
    display: block;
    padding: 20px;
}

main {
    max-width: 840px;
}

h1 {
    color: var(--secondary-color);
}

main img {
    width: var(--image-width);
    height: auto;
    border: var(--border-dark);
    padding: 2px;
    box-shadow: 0 0 50px var(--shadow-color);
    float: right;
    margin-left: 10px;
}

p {
    padding: 0;
}

aside {
    position: relative;
    width: var(--aside-width);
    margin: 1em;
    border: var(--border-light);
    padding: var(--padding-medium);
    background-color: var(--light-background);
    color: var(--text-color);
    text-align: center;
}

aside h2 {
    position: absolute;
    top: 20px;
    left: 30%;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 1em;
    border-top: 1px solid #000;
    text-align: center;
}

/* Class Selectors */

.box {
    margin: var(--padding-medium);
    border: var(--box-border);
    padding: var(--padding-medium);
    background-color: var(--box-background);
    color: var(--box-text-color);
}